header{
    background-color: #375638;
    width: 60%;
    text-align: center;
    color:#E2C248;
    margin: auto;
    border-radius: 25px;
    font-size: 32pt;

}
main{
    width: 60%;
    margin:auto;
    display: grid;
    grid-template-areas: 
    "a b";
}

.linkList{
    grid-area:a;
    color:#375638;
    margin-right: -20px;
}

.foot{
    width: 60%;
    margin:auto;
    background-color: #375638;
    text-align: center;
    color: #E2C248;
    border-radius: 25px;
}

.wedding{
    max-width: 25%;
    height:auto;
    border: 3px solid #375638;
    grid-area: b;
    margin-left: 100px;
   
}