@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Turret+Road:wght@700&display=swap');

body{
    padding: 4em;
}

header{

    background-color: #375638;
    width: 60%;
    text-align: center;
    color:#E2C248;
    margin: auto;
    border-radius: 25px;
    font-size: 32pt;
    font-family: "Exo 2", sans-serif;

}
main{
    width: 60%;
    margin:auto;
    display: grid;
    grid-template-areas: 
    "a b c d";
    column-gap: 1ch ;
}

.linkList{
    grid-area:b;
    color:#375638;
    margin-right: -20px;
    padding:2em;
}

.foot{
    width: 60%;
    margin:auto;
    background-color: #375638;
    text-align: center;
    color: #E2C248;
    border-radius: 25px;
    font-family: "Exo 2", sans-serif;
}

.EddyAndMe{
    max-width: 200px;
    height:auto;
    border: 3px solid #375638;
    grid-area: d;
   
    

   
}