header{

background-color: #707A86;
justify-content: center;
display: flex;


}

.icon {
    width:35%;
    
}

ul{
    display:flex;
    list-style: none;
    justify-content: center;
    background-color:#359F00;
   margin-top: -35px;

    
}
li{
    margin: 40px;
    
 
}

.titlecomplete{
    text-align: left;
    margin-left: -300px;
    
}

.sub-title{
    margin-top: -35px;
    
}
main{
    text-align: center;
    
}
h2{
    margin-left: -700px;
}
.hero{
    height: 200px;
    width:850px;
}
.forecastimg{
    height: 100px;
    width:850px;
}