
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap');

header,nav,main,footer {
	max-width: ;
    margin: 0 auto;
   background-color: aliceblue;
   width: 80%;
   justify-content: center;
    

}
 
header{
    display: flex;
	align-items: center;
   justify-content: center;
}



.links{
    margin-top: -1em;
    
    
}
.links li:first-child{
    display: block;
}
.links li{
    display: none;
}
.responsive li{
    display: block;
}

.icon{
    width:20%;
}    

nav ul {
    list-style: none;
    background-color:#FFD833 ;
    font-family: 'Permanent Marker', cursive;
    border-style: solid;


}
ul{
    
    display: flex;
    flex-direction: column;
     align-items: center;
     
   
}

.hero{
    width: 30%;
}

    
a{
    color:#364B5B ;
}

a:link{
    text-decoration: none;
    
}
a:hover{
    color:#66ff00;
}

body{
    background-color: #3A424D;
}



h1,h2{
    font-family: 'Permanent Marker', cursive;
}

p{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1pt;
    line-height: 20pt;
}


