@media only screen and (min-width: 1126px) {
   
 .articles{
     display:flex;
     flex-direction: row-reverse;
 }
  .article1{
    height: 250px;
      
     
     
  }
  .article2{
      text-align: left;
      
      
  }

  .thirdchild{
     height: 350px;
     
      
  }

  .image1{
    width:100%;
    
}
.image2{
    width:70%;
    float: none;
    
}
.image3{
    width:90%;
}






  

  header,nav,main,footer {

    width: 65%;
    
   
    
     
 
 
}





   
    .links li:first-child{
        display: none;
        grid-column: 3/3;
        width:40%;
    }
    
    .links li{
        display:inline;
        padding: 2em;
        align-content: center;
       
    }
    
  
    .cast{
        grid-column: 2;
        grid-row: 1;
    }
    .hero{
        grid-column: 1;
        grid-row: 1;
    }
    
   


    footer{
        display: grid;
              grid-template-columns: 3 1fr;
              margin-top: 20px;
              padding-top: 20px;
        
        }
        
        

      

      

        .articleNews{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .news1{
            text-align: right;
            margin-left: 5px;
            margin-right:5px;
            
        }

        .newsImage1{
            float: left;
        }

        .gallery{
            display: grid;
            grid-template-columns: auto auto auto;
           
        }
        .listView{
            display:grid;
            grid-template-columns: 350px;
            text-align: center;
        }

        .imageWtext:hover{
            box-shadow: 0 0 20px #75DDDD;
            border-radius: 5pt;
        }
        

        td, th {
            text-align: center;
            
        }


        #aboutUs{
            margin:10px;
            width: 47%;
            float: right;
            
         }
         #Upcoming{
            width:47%;
            margin:10px;
           
            
        }

        #weather{
            
            width:47%;
            margin:10px;
           
        }
    }
    