@media only screen and (min-width: 450px) {
   

   header,nav,main,footer {

   width: 88%;
   
  
   
    

}

.links li:first-child{
    display: none;
}

.article1{
    text-align: left;
}
.article2{
    text-align: right;
}
.thirdchild{
    text-align: left;
}

p{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1pt;
    font-size: 10pt;
    line-height: 12pt;
    
    
}

.homeArticle {
	position: absolute;
	top: 20px;
	left: 40px;
	background: #FFD833;
    border-radius:5px;
	
	padding: 1.5rem;
    
	box-shadow: 0 0 30px #333;
	opacity: .90;
    width: 55%;
    height: 75%;
    text-align: left;
   
    
    
}

.links li{
    display:inline;
    padding: 2em;
    align-content: center;
   
}
main,footer{
    
    
    margin:auto;
    justify-items: center;
}
.cast{
    grid-column: 2;
    grid-row: 1;
}
.hero{
    grid-column: 1;
    grid-row: 1;
}

.break{
    display: none;
}

.stats {

    
    color: #5c5562;
    text-align:center ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding:10pt;
    
 
    
}
#desImg{
    grid-column: 3;
    grid-row:2;
    
}
.smalltext{
    grid-column: 1;
    grid-row:2;
    border:5pt solid #16697A;
    border-radius: 5pt;
}
.stathead{
    grid-column:2;
    grid-row:2
    
}
#temp{
    font-size: 32pt;
}

.image1{
    width:40%;
    
}
.image2{
    width:20%;
    float: right;
    
}

.puertoV{
    text-align: justify;
   
   
}
.image3{
    width:40%;
}

footer{
    display:grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.contact{
    grid-column: 2/2;
    grid-row:1/1;
    margin-left: -200pt;
    margin-top: 30pt;
}

.social{
    grid-column: 1/1;
    grid-row:1/1;
    margin-left: -180pt;
    margin-top: 30pt;
  
}

#lastmod{
    grid-column:2/2;
    grid-row:2/2;
    
}
.nerdLinks{
    grid-column: 1/1;
    grid-row: 2/2;
    margin-left: 200pt;
    margin-right: auto;

}

article.articleNews{
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.newsImage1{
    width:40%;
    float: left;
    margin-right: 0px;
}

.news1{
    text-align: left;
    margin-left: 5px;
    margin-right:5px;
    
}

.newsHead{
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: auto auto;
   
}

.listView{
    display:grid;
    grid-template-columns: 350px;
    text-align: center;
}

#switch{
    display: inline;
    float:right;
    margin-right:20px;
    margin-top:20px;
    
}

td, th {
    text-align: center;
    padding: 9.4pt;
}



#ferry{
    grid-column:2;
    grid-row:2;
}

.aboutHead{
    height: 20%;
    grid-column: 1/3;
    grid-row: 1;
}

#aboutPO{
    margin:10pt;
    text-align: left;
}

#history{
    height:20%;
    grid-column:1/3;
    grid-row:3;
}

#historyPara{
    grid-column: 2;
    grid-row: 4;
    margin:10pt;
    text-align: left;
}

@media only screen and (min-width: 973px){
form{
    display: grid;
    grid-template-columns: 370px auto;
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    
}
}
#currentNews{
    margin-top:20px;
    grid-row: 5;
    width: 60%;
    margin-left: auto;
    margin-right:auto;
}

#kdnImage{
    
    grid-row:6;
    width:60%;
    margin-left: auto;
    margin-right:auto;
}

}