

header,nav,main,footer {
	max-width: 100%;
    margin:  auto;
   background-color: #FDFDFD;
   width: 100%;
   text-align: center;
   border-radius: 5pt;
   
  
   
    

}
 
header{
    display: flex;
	align-items: center;
   justify-content: center;
}

footer{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 20px;
    
}

.social{
    
    margin-left: auto;
    margin-right:auto;
    
    
}

.location{
    width:50%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
}
.contact{
    margin-top: 10pt;
}

.links{
    margin-top: -1em;
   
    
    
}

.links li:first-child{
    display: block;
}
.links li{
    display: none;
}
.responsive li{
    display: block;
}


.icon{
    width:30%;
    
}    



nav ul {
    list-style: none;
    background-color:#75DDDD ;
    font-family: 'Open Sans', Arial;
    margin-top: 25px;
    
    border-radius: 5pt;
    


}

.hero{
    width: 95%;
    text-align: center;
    border-radius: 4px;
    
   
}

    
a{
    color:#5c5562;
}

a:link{
    text-decoration: none;
    
}
a:hover{
    color:#5c5562;
    background-color: white;
    border-radius: 5pt;
    
    
}

body{
    background-color: #16697A;
}


h1,h2,h3{
    font-family: 'Lato', cursive;
    color:#5c5562;
    
}
h4{
    font-family: 'Lato', cursive;
    margin-top: -15px;
}

p{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1pt;
    font-size: 12pt;
    line-height: 12pt;
    
    
}

.article{
    width: 80%;
}
.forecastimg{
    width: 80%;
}

.herodiv {margin: 10px auto; position: relative;
       
}

.stats {
	position: absolute;
	top: 10px;
	left: 20px;
	background: radial-gradient( #75DDDD,#16697A);
    border-radius:5px;
	
	padding: 1.5rem;
	box-shadow: 3px 3px 0px #333;
	opacity: .75;
    width: 45%;
    height: 65%;
    text-align: left;
    
    
}

.homeArticle {
	position: absolute;
	top: 220px;
	left: 20px;
	background: #FFD833;
    border-radius:5px;
	
	padding: 1.5rem;
    
	box-shadow: 0 0 30px #333;
	opacity: .90;
    width: 55%;
    height: 45%;
    text-align: left;
    
    
}

.smalltext{
    text-align: left;
    position: absolute;
    top:50px;
    font-weight: bold;
    font-size: 10pt;
    
}


.heatText{
    text-align: left;
    position:absolute;
    top:45px;
    padding-right: 10px;
    
}

aside{
    display: block;

}

 .active{
    background-color: #AFBD43;
    color: #5c5562;
    margin-top: 20px;
    border-radius: 5pt;
}

main figure.myphoto {
    width: 90%;
    margin:0 0 0 2%;
}

h2 {text-align:center;}



article {

    border-radius: 10px;
    border-left: 5px solid #AFBD43;
    border-right: 5px solid #AFBD43;
    border-top: 5px solid #AFBD43;
    border-bottom: 5px solid #AFBD43;
    background-color:white;
    
    margin:10px;
    
}





.data {
    color:black;
    margin: 1em;
    
    
}

.image1{
    width:80%;
    
}
.newsImage1{
    width:60%;
    float: left;
    margin-right: 5px;
}

.news1{
    text-align: left;
    
}

.newsHead{
    text-align: center;
}

.image2{
    width:40%;
}
.image3{
    width:70%;
}

table {
  font-family: arial, sans-serif;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;
 
}

.dailyHigh{
    max-width: 80%;
    border: 5px solid #AFBD43;
    border-radius: 10pt;
}


td, th {
  
  text-align: center;
  
  border: 1px solid #75DDDD
  

  
  
}
th{
    color: #5c5562;
    
}

tr:nth-child(even) {
  background-color:white ;
  color:#5c5562;

  
}


tr:nth-child(odd){
    background-color: #75DDDD;
    color:#5c5562;
    
}
.oddRow:hover{
    background-color: #75DDDD;

}

.townName{
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    color: black;
}

table.events{
   width: 100%;
   margin-left: auto; 
   margin-right: auto;
    

}

#eventHolder1{
    border-radius: 10px 10px 0px 0px;
}

#eventHolder2{
    border-radius: 0px 0px 10px 10px;
}

#cornerOne{
    border-radius: 10px 0px 0px 0px;
}

#cornerTwo{
    border-radius: 0px 10px 0px 0px;
}

#cornerThree{
    border-radius: 0px 0px 0px 10px;
}

#cornerFour{
    border-radius: 0px 0px 10px 0px;
}


.galImages{
    width:100%;
    border-radius: 5pt;
}

.galImages:hover{
    box-shadow: 0 0 20px #FFD833;
}

.flexly {
	display: flex;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#ratingvalue {
	margin: 0 15px;
	color: #2075ff;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    
}



fieldset{
    border: 2pt solid #AFBD43;
    border-radius: 5pt;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}

input{
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



label{
    padding:10px;
}

.headForm{
    font-size: 16pt;
}

#banner{
    background-color: #FFD833;
    border-radius: 5pt;
    text-align: center;
    margin-bottom: 10px;
}

.joinButton{
    font-size: 18pt;
    color: #5c5562;
    background-color: #75DDDD;
    border-radius: 5pt;
    margin-bottom: 20px;
    border: 2pt solid #75DDDD;
    
}

.joinButton:hover{
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}


.aboutTitle{
   margin:2px;

}

#dailynews{
    width: 90%;
    border-radius: 5pt;
}

#shipyard{
    width: 90%;
    border-radius: 5pt;
    margin-top:10pt;
}

#ferry{
    width: 90%;
    border-radius: 5pt;
    margin-top:10pt;
}

#aboutPO{
    margin:10pt;
    text-align: left;
}

#historyPara{
    
    margin:10pt;
    text-align: left;
}

#membership{
    list-style-type:none;
    text-align: left;
    margin-left: -20pt;
    font-size: 8pt;
}

#joinHead{
    margin:10pt;
}

.aplSubmit{
    background-color: #75DDDD; 
  border: none;
  color: #5c5562;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}