

header,nav,main,footer {
	max-width: 100%;
    margin:  auto;
   background-color: #FDFDFD;
   width: 100%;
   text-align: center;
   border-radius: 5pt;
   
  
   
    

}
 
header{
    display: flex;
	align-items: center;
   justify-content: center;
}

footer{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 20px;
    
}

.social{
    
    margin-left: auto;
    margin-right:auto;
    
    
}

.location{
    width:50%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
}
.contact{
    margin-top: 10pt;
}

.links{
    margin-top: -1em;
   
    
    
}

.links li:first-child{
    display: block;
}
.links li{
    display: none;
}
.responsive li{
    display: block;
}


.icon{
    width:30%;
    border-radius: 5pt;
    
    
}    



nav ul {
    list-style: none;
    background-color:#75DDDD ;
    font-family: 'Open Sans', Arial;
    margin-top: 25px;
    
    border-radius: 5pt;
    


}



    
a{
    color:#5c5562;
}

a:link{
    text-decoration: none;
    
}
a:hover{
    color:#5c5562;
    background-color: white;
    border-radius: 5pt;
    
    
}

body{
    background-color: #16697A;
}


h1,h2,h3{
    font-family: 'Lato', cursive;
    color:#5c5562;
    
}
h4{
    font-family: 'Lato', cursive;
    margin-top: -15px;
}

p{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1pt;
    font-size: 12pt;
    line-height: 12pt;
    
    
}

.gallery{
    display: grid;
    grid-template-columns: 325px;
   
}
#switch{
    display: none;
}

.article{
    width: 80%;
}
.forecastimg{
    width: 80%;
}

.herodiv {margin: 10px auto; position: relative;
       
}

.stats {

    
    color: #5c5562;
    text-align:center ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding:10pt;
    
 
    
}
#desImg{
    grid-column: 3;
    grid-row:2;
    
}
.smalltext{
    grid-column: 2/3;
    grid-row:2;
    border:5pt solid #16697A;
    border-radius: 5pt;
}
.stathead{
    grid-column:2
    
}
#temp{
    font-size: 32pt;
}









 .active{
    background-color: #AFBD43;
    color: #5c5562;
    margin-top: 20px;
    border-radius: 5pt;
}



h2 {text-align:center;}



article {

    border-radius: 10px;
    border-left: 5px solid #AFBD43;
    border-right: 5px solid #AFBD43;
    border-top: 5px solid #AFBD43;
    border-bottom: 5px solid #AFBD43;
    background-color:white;
    
    margin:10px;
    
}







.image1{
    width:80%;
    
}






.image2{
    width:40%;
}
.image3{
    width:70%;
}

table {
  font-family: arial, sans-serif;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;
 
}

.dailyHigh{
    max-width: 80%;
    border: 5px solid #AFBD43;
    border-radius: 10pt;
}


td, th {
  
  text-align: center;
  
  border: 1px solid #75DDDD
  

  
  
}
th{
    color: #5c5562;
    
}

tr:nth-child(even) {
  background-color:white ;
  color:#5c5562;

  
}


tr:nth-child(odd){
    background-color: #75DDDD;
    color:#5c5562;
    
}
.oddRow:hover{
    background-color: #75DDDD;

}



table.events{
   width: 100%;
   margin-left: auto; 
   margin-right: auto;
    

}

#eventHolder1{
    border-radius: 10px 10px 0px 0px;
}

#eventHolder2{
    border-radius: 0px 0px 10px 10px;
}

#cornerOne{
    border-radius: 10px 0px 0px 0px;
}

#cornerTwo{
    border-radius: 0px 10px 0px 0px;
}

#cornerThree{
    border-radius: 0px 0px 0px 10px;
}

#cornerFour{
    border-radius: 0px 0px 10px 0px;
}


.galImages{
    width:100%;
    border-radius: 5pt;
}
#galImg2{
    width:60%;
    margin-top: -20px;
}
#galImg4{
    background-color: #2075ff;
}






form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    
}



fieldset{
    border: 2pt solid #AFBD43;
    border-radius: 5pt;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    color:#5c5562;
}

input{
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #75DDDD;
    border-radius: 4px;
    box-sizing: border-box;
  }



label{
    padding:10px;
    
}



#banner{
    background-color: #FFD833;
    border-radius: 5pt;
    text-align: center;
    margin-bottom: 10px;
}

.joinButton{
    font-size: 24pt;
    color: #5c5562;
    background-color: #75DDDD;
    border-radius: 5pt;
    margin-bottom: 20px;
    border: 2pt solid #75DDDD;
    font-family: 'lato';
    
}

.joinButton:hover{
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}


.aboutTitle{
   margin:2px;

}

#dailynews{
    width: 90%;
    border-radius: 5pt;
}

#shipyard{
    width: 90%;
    border-radius: 5pt;
    margin-top:10pt;
}

#ferry{
    width: 90%;
    border-radius: 5pt;
    margin-top:10pt;
}

#aboutPO{
    margin:10pt;
    text-align: left;
}

#historyPara{
    
    margin:10pt;
    text-align: left;
}

#membership{
    list-style-type:none;
    text-align: left;
    margin-left: -20pt;
    font-size: 8pt;
}

#joinHead{
    margin:10pt;
}

.aplSubmit{
    background-color: #75DDDD; 
  border: none;
  color: #5c5562;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'lato';
}

#directors{
    
    list-style:none;
    color: #5c5562;
    text-align: left;
    font-family: 'lato';
   margin-bottom:20px;
    

}

